In [2]:
import pandas as pd
import numpy as np

In [19]:
data = pd.read_csv('haberman2.data',header=None,names=['Age','Year(1900)','No. of Positive Nodes','Survival Status'])

In [20]:
data.head()

   Age  Year(1900)  No. of Positive Nodes  Survival Status
0   30          64                      1                1
1   30          62                      3                1
2   30          65                      0                1
3   31          59                      2                1
4   31          65                      4                1

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306 entries, 0 to 305
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Age                    306 non-null    int64
 1   Year(1900)             306 non-null    int64
 2   No. of Positive Nodes  306 non-null    int64
 3   Survival Status        306 non-null    int64
dtypes: int64(4)
memory usage: 9.7 KB

# Identifying target and independent variables

In [23]:
data.drop(['Year(1900)'],axis=1,inplace=True)

In [24]:
data.head(1)

   Age  No. of Positive Nodes  Survival Status
0   30                      1                1

In [25]:
x = np.array(data.drop(['Survival Status'],axis=1))

In [27]:
x.shape

(306, 2)

In [28]:
y = np.array(data['Survival Status'])

In [29]:
y.shape

(306,)

# Splitting the datasets

In [30]:
from sklearn import model_selection,metrics,neighbors

In [31]:
x_train,x_test,y_train,y_test = model_selection.train_test_split(x,y,test_size=0.2)

# Applying KNN Algorithm

In [35]:
knn = neighbors.KNeighborsClassifier()

In [36]:
knn.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

# Predicting using test data

In [39]:
y_pred = knn.predict(x_test)

# Accuracy Check

In [38]:
knn.score(x_train,y_train)

0.8360655737704918

In [40]:
print(metrics.confusion_matrix(y_test,y_pred))

[[42  6]
 [11  3]]

In [41]:
print(metrics.classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           1       0.79      0.88      0.83        48
           2       0.33      0.21      0.26        14

    accuracy                           0.73        62
   macro avg       0.56      0.54      0.55        62
weighted avg       0.69      0.73      0.70        62